{% extends "chat/chat_base.html" %}

{% block content %}
  <p class="grid-block small-12 medium-8 large-6 vertical text-center main-content">
    Choose a conversation from the right to get started
  </p>
{% endblock content %}

{% block sidebar %}
  {% if chats.count == 0 %}
  <p style="text-align:center">
    You don't have any conversations yet
  </p>
  {% else %}
  <ul>
    {% for chat in chats %}
    {% if chat.user1 == user %}
    <li><a href="{% url 'room' chat.user1.username|add:"_"|add:chat.user2.username %}">{{ chat.user2 }}</a></li>
    {% else %}
    <li><a href="{% url 'room' chat.user2.username|add:"_"|add:chat.user1.username %}">{{ chat.user1 }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
{% endblock sidebar %}
