{% load static %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}Music Social{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation-prototype.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
    <link href="{% static 'main/main.css' %}" rel="stylesheet" type="text/css">
    {% block css %}
    {% endblock%}
  </head>
  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2195009-2', 'auto');
      ga('send', 'pageview');

      ga('create', 'UA-2195009-27', 'auto', {name: "foundation"});
      ga('foundation.send', 'pageview');

    </script>
    <div style="background-color: white;" class="top-bar" data-sticky data-options="marginTop:0;" data-top-anchor="1" data-btm-anchor="content:bottom">
      <div class="top-bar-left">
        <ul style="background-color: white;" class="menu">
          <li class="menu-text"><a class="ml-2" href="{% url 'index' %}">Music Social</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        {% if user.is_authenticated %}
          <button class="clear button" type="button" data-toggle="account-links">
            <h6 style="display: inline;">{{ user.username }}</h6> <img width=50px height=50px src="{{ user.profile.image.url }}">
          </button>
          <ul class="small dropdown-pane text-center no-bullet" data-position="bottom" data-alignment="right" id="account-links"
            data-dropdown data-auto-focus="true">
            <li><a href="{% url 'account' %}">Account</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        {% else %}
          <ul style="background-color: white;" class="menu align-middle">
            <li class="left-button"><a class="button radius" href="{% url 'register' %}">Register</a></li>
            <li><a class="hollow button radius" href="{% url 'login' %}">Login</a></li>
          </ul>
        {% endif %}
      </div>
    </div>
    <article class="grid-container" style="margin-top:15px;">
      <div class="grid-x grid-margin-x" id="content">
        <div class="medium-3 cell" data-sticky-container style="margin-right: 0px;">
          <div class="sticky" data-sticky data-anchor="content" data-margin-top="7">
            <ul class="list-group">
              {% url 'index' as index %}
              {% url 'user-posts' user.username as userPosts %}
              {% url 'post-create' as postCreate %}
              {% url 'chat-index' as chatIndex %}
              {% url 'explore' as explore %}
              <a href="{% url 'index' %}"><li class="list-group-item {% if request.get_full_path == index %}active{%endif%}">Home</li></a>
              {% if user.is_authenticated %}
                <a href="{% url 'user-posts' user.username %}"><li class="list-group-item {% if request.get_full_path == userPosts %}active{%endif%}">Profile</li></a>
                <a href="{% url 'post-create' %}"><li class="list-group-item {% if request.get_full_path == postCreate %}active{%endif%}">Post Song</li></a>
                <a href="{% url 'chat-index' %}"><li class="list-group-item {% if request.get_full_path == chatIndex %}active{%endif%}">Messages</li></a>
              {% endif %}
              <a href="{% url 'explore' %}"><li class="list-group-item {% if request.get_full_path == explore %}active{%endif%}" style="border: 0px;">Explore</li></a>
            </ul>
          </div>
        </div>
        <div class="medium-9 cell main-content" style="margin-left: 0px;">
          {% block header %}{% endblock %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </article>
    <script src="bower_components/jquery/dist/jquery.js?hash=7d0a7c4c065a9f5187752ba5e7d2e46d"></script>
    <script src="bower_components/what-input/what-input.js?hash=349c23da65acac7efcca935753362fe5"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js?hash=3895908f584e65dee13d3553f4bf54da"></script>
    <script src="js/app.js?hash=ac0bbcc33f42fcf6c76d814d5efdc833"></script>
  </body>
</html>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js"></script>
<script>
  $(document).foundation();
</script>
{% block scripts %}
{% endblock %}
</body>
</html>
