{% extends "main/base.html" %}

{% block title%}Music Social | Home{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  {% if posts.count is 0  %}
    <h3 style="text-align:center;"> There are no posts here yet </h3>
  {% else %}
    {% for post in posts %}
      <div class="blog-post">
        {% if post.link == '' %}
          <h3>Rick Astley - Never Gonna Give You Up<small style="float:right"> <a href="{% url 'user-posts' post.user.username %}"> {{ post.user }} <img width=50px height=50px src="{{ post.user.profile.image.url }}"></a></small></h3>
        {% else %}
          <h3>{{ post.artist_name }} - {{ post.song_name }}<small style="float:right"> <a href="{% url 'user-posts' post.user.username %}"> {{ post.user }} <img width=50px height=50px src="{{ post.user.profile.image.url }}"></a></small></h3>
        {% endif %}
        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}
          {% if post.user == user %}
            <a style="margin-left:7px; margin-right:7px" href="{% url 'post-update' post.id %}">Update</a>
            <a data-toggle="delete-post">Delete</a>
            <!-- modal for deleting post -->
            <div class="large reveal text-center" id="delete-post" data-reveal>
              <form action="{% url 'post-delete' post.id %}" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                  <h2>Are you sure you want to delete this post?</h2>
                </fieldset>
                <div class="form-group" style="padding-top: 40px;">
                  <button class="alert button left-button" type="submit">Yes, Delete</button>
                  <a class="button" data-close aria-label="Close reveal" type="button">Cancel</a>
                </div>
              </form>
              <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- modal for deleting post -->

          {% endif %}
        </small>
        {% if post.link == '' %}
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% else %}
          <iframe width="100%" height="125" scrolling="no" frameborder="no" allow="autoplay" src="{{ post.link }}"></iframe>
        {% endif %}
        <p>{{ post.description }}</p>
        {% if user.is_authenticated %}
          <a class="hollow button" href="{% url 'comment-create' post.id %}?next={{request.path}}">Leave a Comment</a>
        {% else %}
          <a class="hollow button" data-toggle="comment-need-account">Leave a Comment</a>
        {% endif %}

        {% if post in user.profile.likes.all %}
          <span style="float:right"><a class="button" style="color:white" href="{% url 'like' post.id %}?next={{request.path}}">Like: {{ post.liked.count }}</a></span>
        {% else %}
          {% if user.is_authenticated %}
            <span style="float:right"><a class="hollow button" href="{% url 'like' post.id %}?next={{request.path}}">Like: {{ post.liked.count }}</a></span>
          {% else %}
            <span style="float:right"><a class="hollow button" data-toggle="like-need-account">Like: {{ post.liked.count }}</a></span>
          {% endif %}
        {% endif %}
      </div>

      <!-- comments -->
      <div class="comment-section-container">
        <h5>Comments ({{ post.comments.count }})</h5>
        {% for comment in post.comments.all %}
          <div class="comment-section-author">
            <img src="{{ comment.author.profile.image.url }}" width=40px height=40px alt="profile picture">
            <div class="comment-section-name">
              <h6>
                <a href="{% url 'user-posts' comment.author.username %}">{{ comment.author.username }}</a>
                <small>{{ comment.date_posted|date:"D, d M, Y" }}</small>
                {% if comment.author == user %}
                <a data-toggle="delete-comment">Delete</a>
                <!-- modal for deleting comment -->
                <div class="large reveal text-center" id="delete-comment" data-reveal>
                  <form action="{% url 'comment-delete' comment.id %}" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                      <h2>Are you sure you want to delete this comment?</h2>
                    </fieldset>
                    <div class="form-group" style="padding-top: 40px;">
                      <button class="alert button left-button" type="submit">Yes, Delete</button>
                      <a class="button" data-close aria-label="Close reveal" type="button">Cancel</a>
                    </div>
                  </form>
                  <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- modal for deleting comment -->
                {% endif %}
              </h6>

            </div>
          </div>
          <div class="comment-section-text">
            <p>{{ comment.text }}
            </p>
          </div>
        {% empty %}
            <p>No comments here yet</p>
        {% endfor %}
      </div>
      <!--/comments-->
      <hr style="color: #e6e6e6; margin-top: 0px;">
    {% endfor %}

    <!-- modal for trying to comment with no account -->
    <div class="large reveal text-center" id="comment-need-account" data-reveal>
      <h2 style="padding-bottom: 10px;">Create an Account</h2>
      <p style="padding-bottom: 50px;">You need an account in order to leave a comment</p>
      <a class="button radius left-button" href="{% url 'register' %}">Register</a>
      <a class="hollow button radius" href="{% url 'login' %}">Login</a>
      <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- modal for trying to like a post with no account -->
    <div class="large reveal text-center" id="like-need-account" data-reveal>
      <h2 style="padding-bottom: 10px;">Create an Account</h2>
      <p style="padding-bottom: 50px;">You need an account in order to like a post</p>
      <a class="button radius left-button" href="{% url 'register' %}">Register</a>
      <a class="hollow button radius" href="{% url 'login' %}">Login</a>
      <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}

  <!--Pagination-->
  {% if is_paginated %}
    <div class="grid-x cell">
      <div class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page=1">First</a></li>
          <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <!-- CURRENT PAGE -->
            <li><a class="current" href="?page={{ num }}">{{ num }}</a></li>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li><a href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">Next</a>
          <li><a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <!--Pagination-->
{% endblock content %}
